worldpath = /path/to/your/minecraft/world/

scoreboard_format = Name: %name, Score: %score, Objective: %objective\n

players_format = %username has level %level\n
players_format = %username has %health hit points and a foodlevel of %food\n

level_format = Is it raining? %raining\n

stats_useitem_format = %username used %id for the %valueth time.\n

stats_mineblock_format = %username has mined %id %value times.\n

stats_killentity_format = %username killed %value %ids\n

stats_damagedealt_format = %username dealt %value hitpoints of damage.\n

stats_jumped_format = %username jumped %value times.\n

open_inventory_format = %username opened his inventory %value times.\n

exec = cat

unbuffered
